<ion-header>
  <ion-navbar >
    <ion-buttons start>
        <button class="blue-bg-btn" ion-button icon-only (click)="redirect('ListMasterPage',null,{animate: true, direction: back})">
            <ion-icon name="arrow-back"></ion-icon>
          </button>
      <button class="blue-bg-btn inlineBlock" ion-button icon-only menuToggle style="display: inline-block !important;">
        <img height="24px" src="assets/img/title-bar/menu-icon-primary.png"/>
      </button>
    </ion-buttons>
    <!--<ion-title>{{ 'DECLARATIONS' | translate }}</ion-title>-->
    <div style="text-align: center;">
      <img class="logo" src="assets/img/logo/splash-screen-logo-new.png"/>
    </div>

    <ion-buttons end>
      <button class="blue-bg-btn" ion-button icon-only (click)="redirect('ListMasterPage',null,{animate: true, direction: back})">
        <img height="28px" src="assets/img/title-bar/home-primary.png"/>
      </button>
      <button class="blue-bg-btn" ion-button icon-only (click)="logout()">
        <img height="28px" src="assets/img/title-bar/log-out-primary.png"/>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content >
  <br/>
    <div class="company-infos" style="text-align:center">
      <div>
        <img src="assets/img/societe-icon.png" height="40px" />
      </div>
      <div class="inlineBlock">
        <b><span class="colorBlue primary" >{{user._user.raisonSociale}}</span><br/></b>
        <span class="colorBlue secondary"> {{'IF' | translate }}: {{user._user.identifiantFiscal}}</span>
      </div>
    </div>
    <br/>

    <div class="layout-container noBgColor">

      <h3 class="title">{{"DECLARATIONS" | translate}}</h3> 
      <div class="line-border"></div>
      <div class="content">
      
    	<div class="filterContainer">
          <div class="block-1">
            <ion-select interface="popover" interfaceOptions="selectOptions" class="custom-selectbox blue-select" [okText]="'okText' | translate" [cancelText]="'cancelText' | translate" (ionChange)="loadData()" placeholder="{{ 'TYPE_IMPOT' | translate}}" [(ngModel)]="filter.type">
              <ion-option  value="TVA">{{'TVA' | translate }}   </ion-option>
              <ion-option  value="IS">{{'IS' | translate }}    </ion-option>
              <ion-option   value="IR">{{'IR' | translate }}    </ion-option>
            </ion-select>
          </div>
          <div class="block-2 date-filter" (click)="showCalendarModal()">
            {{ 'FILTER_FROM' | translate}} <span class="date-from">{{filter.from | date: 'dd/MM/yyyy'}}</span>
            {{ 'FILTER_TO' | translate}} <span class="date-to">{{filter.to | date: 'dd/MM/yyyy'}}</span>
            <img src="assets/img/calendar-icon.png" class="icon"/>
          </div>
        </div>
      	<ion-row class="align-items-flex-end">
      		<button class="outline-btn default-3" ion-button color="primary" style="width: 130px; margin: auto; margin-top: 10px;" (click)="loadData()">{{ 'RECHERCHER' | translate}}</button>
      	</ion-row>
    

        <ion-grid  class="datagrid" *ngIf="data!= null && data.length != 0">
        <div *ngFor="let yearKey of dataKeys">
          <div class="groupTitle">{{ 'ANNEE' | translate }} {{ yearKey}}</div>
          <div *ngFor="let item of data[yearKey]"  (click)="showDetails(item)" class="shadow-block">
            <ion-col col-12>
              <div class="floatRight">
                <div *ngIf="!item.expanded"><ion-icon name="arrow-down"></ion-icon></div>
                <div *ngIf="item.expanded"><ion-icon name="arrow-up"></ion-icon></div>
              </div>
              <div>
                  <ion-row class="colorGreen">{{item.codeTypeImpot | translate}}</ion-row>
                  <ion-row class="colorGray light">{{item.modele | translate | translate}}</ion-row>
                  <ion-row class="colorGray light">{{item.dateDebutImpLettre}}-{{item.dateFinImpoLettre}}</ion-row>
                  <hr class="custom" style="margin-left: 0% !important;">
              </div>
              <div class="details-block" *ngIf="item.expanded==true">
                <div class="details-title">{{ 'DETAILS'| translate }}</div>
                <div><span class="lib">{{ 'codeTypeImpot' | translate }}:</span> {{item.codeTypeImpot | translate}}</div>
                <div><span class="lib">{{ 'PERIODE_IMPOSITION'| translate }}:</span> {{item.dateDebutImpLettre}} <-> {{item.dateFinImpoLettre}}</div>
                <div><span class="lib">{{ 'DATE_IMPOT' | translate }}:</span> {{item._dateHeureAccuseReception}}</div>
                <div><span class="lib">{{ 'NUMERO_DEPOT' | translate }}:</span> {{item.numeroDepot}}</div>
              </div>
            </ion-col>
         
            <!--<ion-col col-3 pull-sm-4>
              <div>
                  <ion-row class="colorGreen">{{item._dateHeureAccuseReception}}</ion-row> 
                  <ion-row><div class="tag">...</div></ion-row>
              </div>
            </ion-col>-->
           
          </div>

        </div>
         
      </ion-grid>

      <!--<ion-grid  class="datagrid" *ngIf="data!= null && data.length != 0">
          <ion-row *ngFor="let item of data" (click)="redirect('DetailPage', {item : item, itemType : 'declaration'})">
              <ion-col  col-9>
                <div>
                    <ion-row>{{ item.codeTypeImpot | translate}}</ion-row>
                    <ion-row class="colorBlue">{{item.modele | translate}}</ion-row>
                    <ion-row class="colorBlue">{{item.dateDebutImpLettre}}-{{item.dateFinImpoLettre}}</ion-row>
                    <hr class="custom" style="margin-left: 0% !important;">
                </div>
              </ion-col>
           
              <ion-col col-3 pull-sm-4>
                <div>
                    <ion-row class="colorGreen">{{item._dateHeureAccuseReception}}</ion-row> 
                    <ion-row><div class="tag">...</div></ion-row>
                </div>
              </ion-col>
             
            </ion-row>
           
          </ion-grid>-->

          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
           <div class="margin-left">
       
             <ion-grid  class="datagrid" *ngIf=" data == '' || data == null ">

        <p style="text-align: center;">{{ 'no_data' | translate }} </p>            
               
              
             </ion-grid>
        <!-- <table class="datagrid" *ngIf="data!= null && data.length != 0">
          <tr class="header">
            <td>Impôt</td>
            <td style="width:40%">Modèle</td>
            <td>Période imposition</td>
            <td>Date dépôt</td>
            <td></td>
          </tr>
          
          <tr *ngFor="let item of data" (click)="redirect('DetailPage', {item : item, itemType : 'declaration'})">
            <td >{{item.codeTypeImpot}}</td>
            <td>{{item.modele | translate}}</td>
            <td >{{item.dateDebutImpLettre}}-{{item.dateFinImpoLettre}}</td>
            <td class="colorGreen">{{item._dateHeureAccuseReception}}</td>
            <td><div class="tag">...</div></td>
          </tr> -->
          
          <!--<tr>
            <td>Déclaration mensuelle</td>
            <td>TVA</td>
            <td>Sept-2018 / Déc-2019</td>
            <td class="colorGreen">11-09-2018</td>
            <td><div class="tag" (click)="redirect('DetailPage')">...</div></td>
          </tr>
          <tr>
            <td>Déclaration mensuelle</td>
            <td>IS</td>
            <td>Sept-2018 / Déc-2019</td>
            <td class="colorGreen">27-03-2018</td>
            <td><div class="tag" (click)="redirect('DetailPage')">...</div></td>
          </tr>
          <tr>
            <td>Déclaration mensuelle</td>
            <td>IR</td>
            <td>Sept-2018 / Déc-2019</td>
            <td class="colorGreen">27-03-2018</td>
            <td><div class="tag" (click)="redirect('DetailPage')">...</div></td>
          </tr>
          <tr>
            <td>Déclaration mensuelle</td>
            <td>IR</td>
            <td>Sept-2018 / Déc-2019</td>
            <td class="colorGreen">27-03-2018</td>
            <td><div class="tag" (click)="redirect('DetailPage')">...</div></td>
          </tr>
          <tr>
            <td>Déclaration mensuelle</td>
            <td>IR</td>
            <td>Sept-2018 / Déc-2019</td>
            <td class="colorGreen">27-03-2018</td>
            <td><div class="tag" (click)="redirect('DetailPage')">...</div></td>
          </tr>

          <tr>
            <td>Déclaration mensuelle</td>
            <td>IR</td>
            <td>Sept-2018 / Déc-2019</td>
            <td class="colorGreen">27-03-2018</td>
            <td><div class="tag" (click)="redirect('DetailPage')">...</div></td>
          </tr>
          <tr>
            <td>Déclaration mensuelle</td>
            <td>IR</td>
            <td>Sept-2018 / Déc-2019</td>
            <td class="colorGreen">27-03-2018</td>
            <td><div class="tag" (click)="redirect('DetailPage')">...</div></td>
          </tr>

          <tr>
            <td>Déclaration mensuelle</td>
            <td>IR</td>
            <td>Sept-2018 / Déc-2019</td>
            <td class="colorGreen">27-03-2018</td>
            <td><div class="tag" (click)="redirect('DetailPage')">...</div></td>
          </tr>
          <tr>
            <td>Déclaration mensuelle</td>
            <td>IR</td>
            <td>Sept-2018 / Déc-2019</td>
            <td class="colorGreen">27-03-2018</td>
            <td><div class="tag" (click)="redirect('DetailPage')">...</div></td>
          </tr>
          <tr>
            <td>Déclaration mensuelle</td>
            <td>IR</td>
            <td>Sept-2018 / Déc-2019</td>
            <td class="colorGreen">27-03-2018</td>
            <td><div class="tag" (click)="redirect('DetailPage')">...</div></td>
          </tr>
          <tr>
            <td>Déclaration mensuelle</td>
            <td>IR</td>
            <td>Sept-2018 / Déc-2019</td>
            <td class="colorGreen">27-03-2018</td>
            <td><div class="tag" (click)="redirect('DetailPage')">...</div></td>
          </tr>
          <tr>
            <td>Déclaration mensuelle</td>
            <td>IR</td>
            <td>Sept-2018 / Déc-2019</td>
            <td class="colorGreen">27-03-2018</td>
            <td><div class="tag" (click)="redirect('DetailPage')">...</div></td>
          </tr>
          <tr>
            <td>Déclaration mensuelle</td>
            <td>IR</td>
            <td>Sept-2018 / Déc-2019</td>
            <td class="colorGreen">27-03-2018</td>
            <td><div class="tag" (click)="redirect('DetailPage')">...</div></td>
          </tr>-->
        <!-- </table> -->
      </div>
    </div>
  </div>

</ion-content>