page-paiement-private {

 

        .item-ios {
    
            padding-left : 0px !important;
        }
    
        .item-ios h3, .item-ios h4, .item-ios h5, .item-ios h6 {
            font-weight: 700 !important;
        }
    .button-ios { 
        border-radius: 4px;
    height: 4.8em;
    font-size: 1.9rem;
    color: #fff;
    background-color: #488aff;
    margin: 0.4rem 0.2rem;
    padding: 0 1em;
    }
    
    
    .label{
        font-size: 16px !important;
    }    
}
