page-identification-data {
    .toolbar-title{margin-top: 5px;
        font-weight: 900 !important;
        color: #1da6b0 !important; font-size: 1.7rem !important;
    }

    .infosData-container tr td:first-child {
        font-weight: 700;
    }

}

